@import '../ui-deni-treeview.vars.scss';
@import 'base-theme.scss';

.ui-deni-treeview-container.classic {
  border-color: lighten($blue, 2%);

  .ui-deni-treeview-item-container.classic {
    @include set-theme($blue);

    .icon-and-text {
      .icon {
        background-image: $closed-folder-icon-blue-16;

        &.expanded {
          background-image: $opened-folder-icon-blue-16;
        }
      }
    }

  }
}
