@import '../ui-deni-treeview.vars.scss';
@import 'base-theme.scss';

.ui-deni-treeview-item-container.green {
  @include set-theme($green);

  .icon-and-text {
    .icon {
      background-image: $closed-folder-icon-green-16;

      &.expanded {
        background-image: $opened-folder-icon-green-16;
      }
    }
  }

}
