@import '../ui-deni-treeview.vars.scss';
@import 'base-theme.scss';

.ui-deni-treeview-container.red {
  border-color: lighten($red, 2%);

  .ui-deni-treeview-item-container.red {
    @include set-theme($red);

    .icon-and-text {
      .icon {
        background-image: $closed-folder-icon-red-16;

        &.expanded {
          background-image: $opened-folder-icon-red-16;
        }
      }
    }

  }

}
