@import 'ui-deni-treeview.vars.scss';

.ui-deni-treeview-container {

  font-family: tahoma,arial;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-x: hidden;
  overflow-y: auto;

  * {
    box-sizing: border-box;

    &.unselectable {
      @include unselectable;
    }

  }

}
